<div class="container token">
  <div class="row">
    <div class="col-xs-3">
      <div class="token-images" images="token.data.images"></div>
    </div>
    <div class="col-xs-9">
      <h4>{{token.data.name}}</h4>
      <div class="token-details">
      <p>{{token.data.description}}</p>
      <table class="table">
        <tr>
          <td>Tokenized By</td>
          <td><a ng-click="openTokenizerModal()">{{token.tokenizer.data.name}}</a></td>
        </tr>
        <tr>
          <td>Sunset Period</td>
          <td>{{token.data.sunsetPeriod}}</td>
        </tr>
        <tr>
          <td>Redemption Method</td>
          <td>{{token.data.redemptionMethod}}</td>
        </tr>
      </table>
    </div>
      <a class="btn btn-primary" ng-click="openTokenLegalModal()">Terms and Conditions</a>
      <a class="btn btn-primary">Buy on EtherDelta</a>
    </div>
  </div>
</div>
