<div class="container token">
  <div class="row">
    <div class="col-xs-5 col-sm-3">
      <div class="token-images" images image-urls="token.imageUrls" thumb-urls="token.thumbUrls"></div>
    </div>
    <div class="col-xs-7 col-sm-9">
      <h4>{{token.data.name}}</h4>
      <div class="token-details">
        <p>{{token.data.description}}</p>
        <table class="table">
          <tr>
            <td>Token Id</td>
            <td><a ng-href="{{token.trackerUrl}}" target="_blank">{{token.data.id}}</a></td>
          </tr>
          <tr>
            <td>Tokenized By</td>
            <td><a ng-click="openTokenizerModal()">{{token.tokenizer.data.name}}</a></td>
          </tr>
          <tr>
            <td>Sunset Length &nbsp;<a ng-click="openSunsetInfoModal()" class="glyphicon glyphicon-info-sign"></a></td>
            <td>{{token.data.sunsetLength}}</td>
          </tr>
        </table>
      </div>
      <div token-buttons="token" class="token-btns-right"></div>
      </div>
    </div>
  </div>
  <div class="row token-btns-bottom">
    <div class="col-xs-12">
      <div token-buttons="token"></div>
      <hr class="token-divider"/>
    </div>
  </div>
</div>
